<!doctype html>
<meta charset=utf-8>
<meta name=author content="Francis Billones">
<meta name=description content="{{description}}">
<meta charset=utf-8>
<meta name=viewport content="width=device-width">
<meta property="og:image" content="https://blog.francisdb.net/assets/logo.svg">
<meta property="og:description" content="{{description}}">
<meta property="og:title" content="{{title}}">
<meta property="og:url" content="{{url}}">
<meta property="og:type" content="website">
<meta name=twitter:card content="summary_large_image">
<meta name=twitter:site content="@francishubertdb">
<meta name=twitter:creator content="@francishubertdb">
<meta name=twitter:title content="{{title}}">
<meta name=twitter:description content="{{description}}">
<meta name=twitter:image content="https://blog.francisdb.net/assets/logo.svg">
<title>{{title}}</title>
<link rel=icon href=https://blog.francisdb.net/assets/logo.svg type=image/svg+xml>
<link rel=stylesheet href="https://blog.francisdb.net/assets/styles/page.css"></style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<header id=main-header><a href=https://francisdb.net class=logo><img height=30px width=30px
            src=https://blog.francisdb.net/assets/logo.svg alt="A logo combining the letters 'F' and 'H'"
            type=image/svg+xml></a>
    <nav class=menu><a href=https://francisdb.net />Home
        <a href=https://blog.francisdb.net/ class=active>Blog</a>
    </nav>
</header>
<main>
    <header id=content-header>
        <div><strong>Francis Billones, <a href=http://twitter.com/francishubertdb>@francishubertdb</a></strong></div>
        <div>— {{date.strftime('%b %d, %Y at %I:%m %p %Z')}}</div>
    </header>
    <article>{{content|safe}}</article>
</main>
<footer>© 2022 Francis Billones, loaded <strong>{{size}}</strong></footer>
